apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
spec:
  replicas: 2
  revisionHistoryLimit: 3
  progressDeadlineSeconds: 30
  selector:
    matchLabels:
      app: demo
  template:
    metadata:
      labels:
        app: demo
    spec:
      containers:
      - image: pacordonnier/pacordonnierdemocicd:1.0
        name: demo
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
